TA-Lib==0.4.24
requests==2.22.0
pandas==1.3.4
ccxt==1.66.50
pybotters==0.13.0
python-dotenv==0.19.2
discordwebhook==1.0.3
git+https://github.com/richmanbtc/crypto_data_fetcher.git@v0.0.18#egg=crypto_data_fetcher
seaborn==0.11.2
optuna
nest_asyncio
pandas
japanize-matplotlib
numpy
joblib
pytz
asyncio
configparser
matplotlib
lightgbm==3.3.2
